name: GitHub Action Demo

on: 
  push:
    branches:
      - main
      - develop
      - 'release/**'

  pull_request:
    branches:
      -main    
jobs:
  action-demo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Print index.html file
        run: cat index.html

 
 
